body {
    background: linear-gradient(#0098BE 0.1%, #2F0094 100%)
}
.allabout {
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 30px;
}
.logodishonored {
    margin-left: 32%;
    margin-bottom: 2%;
    max-width: 100%;
}
.frstpar {
    color: red;
    font-size: 190%;
    margin-left: 5%;
    margin-top: 5%;
}
.text1 {
    color: white;
    margin-left: 5%;
    font-size: 135%;
}
.img1 {
    margin-right: 6%;
    max-width: 100%;
}
.text2 {
    color: white;
    margin-left: 5%;
    font-size: 135%;
}
.support {
    color: aqua;
    margin-left: 35px;
    text-decoration: none;
    transition: color 0.4s linear;
    text-transform:uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.support:hover {
    color: yellow;
}
.img2 {
    margin-left: 5%;
    max-width: 100%;
}
.text3 {
    color: white;
    font-size: 135%;
    margin-right: 5%;
    margin-top: -0.5%;
    margin-left: 41%;
}
.text4 {
    color: white;
    font-size: 135%;
    margin-right: 5%;
    margin-left: 41%;
}
.hr1 {
    margin-top: 2%;
}
.video1 {
    max-width: 100%;
}
.gameplay {
    color: red;
    margin-left: 5%;
    margin-top: 2%;
}
.ramkavideo {
    background: linear-gradient(29deg, #0098BE 50%, #007694 50%);
    color: white;
    margin-left: 28%;
    margin-right: 29%;
    padding: 3%;
    border-radius: 60px;
}
.gameplaytext {
    color: white;
    font-size: 150%;
    margin-left: 5%;
}
.gptext1 {
    color: white;
    font-size: 135%;
    margin-left: 5%;
    margin-right: 5%;
}
.gptext2 {
    color: white;
    font-size: 135%;
    margin-left: 5%;
    margin-right: 5%;
}
.gptext3 {
    color: white;
    font-size: 135%;
    margin-left: 5%;
    margin-right: 5%;
}
.gptext4 {
    color: white;
    font-size: 135%;
    margin-left: 5%;
    margin-right: 5%;
}
.gpimg1 {
    margin-left: 30%;
    max-width: 100%;
}
.gptext5 {
    color: white;
    font-size: 135%;
    margin-left: 5%;
    margin-right: 5%;
}
.gpimg2 {
    margin-left: 38%;
    max-width: 100%;
}
.gpimg3 {
    margin-right: 5%;
    margin-top: 1%;
    max-width: 100%;
}
.gptext6 {
    color: white;
    font-size: 135%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}
.synopsis {
    color: red;
    margin-left: 5%;
}
.setting {
    color: #007ACC;
    margin-left: 5%;
}
.sysetting {
    color: white;
    font-size: 135%;
    margin-left: 5%;
    margin-right: 5%;
}
.sytext1 {
    color: white;
    font-size: 135%;
    margin-left: 43.3%;
    margin-right: 5%;
    margin-top: 3%;
}
.syimg1 {
    margin-left: 5%;
    max-width: 100%;
}
.characters {
    color: #007ACC;
    margin-left: 5%;
    margin-top: 5%;
}
.sytext2 {
    color: white;
    font-size: 135%;
    margin-left: 5%;
    margin-right: 5%;
}
.timecodes {
    background: linear-gradient(45deg, red 20% , blue 100%);
    border: 4px solid #2F0590;
    margin-left: 70%;
    margin-right: 8%;
    border-radius: 80px;
    padding: 10px;
    height: 270px;
    max-width: 100%;
}
.tmcdtext {
    text-align: center;
    color: #2F0590;
    font-size: 30px;
    max-width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.plot {
    color: #007ACC;
    margin-left: 5%;
}
.plotimg {
    margin-left: 5%;
    max-width: 100%;
}
.sytext3 {
    color: white;
    font-size: 135%;
    margin-right: 5%;
}
.sytext3 {
    margin-left: 5%;
    margin-right: 5%;
}
.nodec {
    text-decoration: none;
    transition: font-size 0.01s linear;
    color: cyan;
}
.nodec:hover {
    color: yellow;
    font-size: 20px;
}
.imgdesign {
    margin-left: 5%;
    max-width: 100%;
}
.fontimpactfantasy {
    font-family: Marker Felt, fantasy;
}
.buytext {
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
}
.steam {
    text-transform: uppercase;
    color: #1A86D4;
    text-align: center;
    font-size: 180%;
}
.gmg {
    text-transform: uppercase;
    color: #00B853;
    text-align: center;
    font-size: 180%;
}
.steamimg {
    float: right;
    transition: opacity 0.2s linear;
    max-width: 100%;
}
.steamimg:hover {
    opacity: 0.7;   
}
.gmgimg {
    transition: opacity 0.2s linear;
    float: left;
    max-width: 100%;
}
.gmgimg:hover {
    visibility: none;
    opacity: 0.7;
}
.buyimages {
    background-color: #210044;
    color: white;
    padding: 2%;
    border-radius: 60px;
    width: 700px;
    height: 300px;
    margin-left: 30%;
    max-width: 100%;
}
.vercost {
    text-align: center;
    font-size: 200%;
}
.ten {
    color: crimson;
    font-size: 170%;
}
.footer {
    background-color: #1C0259;
    color: black;
    padding: 3%;
    margin-top: 50px;
    margin-left: -10px;
    margin-bottom: -10px;
    width: 94.98%;
    height: 200px;
    max-width: 100%;
}
.paddingfooter {
    margin-left: 30px;
    color: #676767;
}
.mywebs {
    float: right;
}
.mysoc {
    padding: 5px;
}
.header {
    width: 2100px;
    height: 60px;
    max-width: 100%;
    background-color: #1C0259;
    color: white;
    
    margin-top: -10px;
}