html, body {
    padding: 0;
    margin: 0;
    color: white;
}

#wrapper {
    width: 1100px;
    margin: 0 auto;
}
 
#main {
    width: 700px;
    float: left;

    background-color: #FFA500;
}

#sidebar{
    width: 400px;
    float: right;

    background-color: #1D2432;
}